@font-face {
    font-family: "Roboto";
    src: url(./font/roboto.woff2);
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url(./font/roboto.woff2);
    font-style: italic;
}

body {
    display: grid; 
    grid-template-columns: 300px 1fr;
    grid-template-rows: min-content 1fr; 
    margin: 0px; 
    box-sizing: border-box;
    background-color: rgb(211, 220, 221);
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.sidebar {
    background-color: rgb(0, 113, 206);
    grid-column: 1; 
    grid-row: 1 / -1; 
    display: flex;
    flex-direction: column;
    height: 100vh; 
    position: sticky; 
    top: 0; 
    align-self: start; 
}

.sidebar .title {
    display: flex; 
    align-items: center;
    justify-content: left;
    gap: 8px; 
    padding-left: 20px; 
}

.sidebar .title img {
    width: 50px; 
    height: 50px; 
    color: white; 
    filter: invert(1);
}

.sidebar .title p {
    font-size: 1.5em;
    font-weight: 600; 
    color: white; 
}

.sidebar li {
    display: flex; 
    font-size: 1.1em; 
    font-weight: 600;
    align-items: center;
    gap: 26px; 
    height: 42px; 
    padding-left: 30px;
}

.sidebar li:hover {
    background-color: rgb(62, 142, 207); 
    cursor: pointer; 
}

/* Sidebar Options Icons */
.sidebar li img {
    width: 25px; 
    height: 25px; 
    filter: invert(1);
}

.sidebar ul {
    list-style: none; 
    color: white; 
    padding-left: 0px; 
}

.header {
    background-color: white;
    margin-bottom: 7px; 
}

.header .top {
    display: grid;
    grid-template-columns: auto 1fr repeat(3, auto);
    align-items: center; 
    margin: 10px 0px; 
    padding-right: 60px; 
}

.header .top .icon {
    width: 25px; 
    height: 25px; 
    margin-left: 60px; 
    margin-right: 30px; 
    border-radius: 50%;
    padding: 10px; 
}

.header .top .icon:hover {
    background-color: rgb(218, 218, 218);
}

.header .top .avatar {
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    object-fit: cover;
    margin: 0px 10px; 
}

.header .top p {
    font-size: 1.1em;
    font-weight: 600; 
}

.header .top input {
    height: 30px; 
    width: 70%; 
    border-radius: 20px; 
    padding-left: 15px; 
    background-color: rgb(215, 215, 215);
    border: none; 
}

.header .top input:hover {
    background-color: rgb(200, 200, 200);
}

.header .top input:focus {
    outline: none; 
}

.header .bottom {
    display: grid; 
    grid-template-columns: 1fr auto;
    padding-bottom: 25px; 
    box-shadow: 0 3px 4px rgb(176, 176, 176);
}

.user-greet {
    display: grid; 
    grid-template-columns: 100px 1fr;
    grid-template-rows: 25px 1fr; 
    align-items: center; 
    padding-left: 60px; 
}

.user-greet img {
    width: 70px; 
    height: 70px; 
    border-radius: 50px;
    grid-column: 1;
    grid-row: 1 / -1; 
}

.user-greet p:nth-child(2) {
    font-size: 0.8em;
    align-self: end; 
}

.user-greet p:last-child {
    font-size: 1.6em; 
}

.user-greet p {
    margin: 0px; 
    font-weight: 600;
}

.post-options {
    display: grid; 
    justify-items: center;
    align-items: end;
    grid-template-columns: repeat(3, 150px);
    padding-right: 60px; 
}

.post-options button {
    width: 100px; 
    height: 38px; 
    border-radius: 20px;
    margin-bottom: 10px; 
    border: none; 
    background-color: rgb(0, 140, 255);
    color: white; 
    font-weight: 600;
}

.post-options button:hover {
    cursor: pointer; 
    background-color: rgb(20, 157, 255);
}

.content {
    display: grid; 
    grid-template-columns: 1fr 30%; 
    grid-template-rows: min-content 1fr; 
    gap: 20px; 
    padding: 30px; 
}

.projects {
    grid-column: 1;
    grid-row: 1 / -1;
    display: grid; 
    grid-template-rows: repeat(2, min-content);
}

.projects > p {
    grid-column: 1 / -1;
    grid-row: 1; 
    margin-bottom: 10px;
    font-weight: 600;
}

.cards {
    display: grid; 
    gap: 15px; 
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(3, minmax(200px, 1fr));
}

.card {
    position: relative; 
    background-color: white; 
    border-radius: 10px;
    box-shadow: 3px 4px 3px rgb(189, 189, 189); 
    padding: 20px; 
    border-left: 10px solid rgb(255, 196, 2);
    display: grid; 
    grid-template-rows: 30px 1fr 50px;
}

.card:hover {
    /* background-color: rgb(241, 241, 241); */
    top: 1px; 
    left: 1px; 
    box-shadow: 2px 3px 2px rgb(189, 189, 189);
    background-color: rgb(250, 250, 250);
    cursor: pointer;
}

.card > p:first-child {
    font-weight: 600; 
    font-size: 1.1em; 
}

.card > p:nth-child(2) {
    color: grey; 
}

.card-options {
    display: flex; 
    justify-content: end;
    gap: 20px; 
    margin-right: 25px; 
}

.card-options > img {
    width: 30px; 
    height: 30px;
    border-radius: 50%;
    padding: 5px; 
}

.card-options > img:hover {
    background-color: rgb(218, 218, 218);
}

/* Whatever content on the side, either announcements or trending */
.side-area {
    display: grid; 
    grid-template-rows: repeat(2, min-content); 
    grid-row: 1; 
}

/* The title of each side area */
.side-area > p {
    margin-bottom: 10px; 
    font-weight: 600;
}

/* The actual content pannel of the side area */
.side-panel {
    display: grid; 
    background-color: white; 
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content); 
    border-radius: 9px;
    box-shadow: 5px 3px 4px rgb(174, 174, 174);
    padding: 0px; 
    gap: 0px; 
}

/* What's inside each announcement or trending */
.side-section .text {
    margin: 20px; 
}

/* Hover effect of each side section */
.side-section:hover {
    cursor: pointer; 
    background-color: rgb(230, 230, 230);
}

/* Reset margin for the texts */
.side-section p {
    margin: 0px; 
}

.side-section:first-child {
    border-radius: 8px 8px 0 0;
}

.side-section:last-child {
    border-radius: 0 0 8px 8px;
}

/* Title of each announcement or trending post */
.side-section p:first-child {
    font-size: 0.9em; 
    font-weight: 600; 
    margin-bottom: 5px;
}

/* Content of each post */
.side-section p:last-child {
    font-size: 0.8em; 
    color: rgb(96, 96, 96); 
}

/* Adds separation line between posts */
.announcement.side-section:not(:last-child) {
    position: relative; 
}

.announcement.side-section:not(:last-child)::after {
    content: ""; 
    position: absolute; 
    bottom: 0; 
    left: 20px; 
    width: 80%; 
    height: 1px; 
    background-color: rgb(214, 214, 214);
}

.trending {
    grid-row: 2; 
}

.trending-user .text{
    display: grid; 
    grid-template-columns: 70px 1fr;
    grid-template-rows: 35px 35px;
    gap: 8px;
    margin: 10px 0px 10px 15px; 
}

.trending-user img {
    width: 60px; 
    height: 60px; 
    border-radius: 50%; 
    grid-column: 1;
    grid-row: 1 / -1; 
    place-self: center; 
}

.trending-user p:nth-child(2) {
    grid-column: 2;
    grid-row: 1; 
    align-self: end; 
    font-size: 0.95em
}

.trending-user p:last-child {
    grid-column: 2;
    grid-row: 2; 
}