body {
    display: grid; 
    grid-template-columns: 300px 1fr;
    grid-template-rows: 170px 1fr; 
    margin: 0px; 
    box-sizing: border-box;
}

.sidebar {
    background-color: rgb(0, 113, 206);
    grid-column: 1; 
    grid-row: 1 / -1; 
    display: flex;
    flex-direction: column;
}

.sidebar .title {
    display: flex; 
    align-items: center;
    justify-content: left;
    gap: 8px; 
    padding-left: 20px; 
}

.sidebar .title img {
    width: 50px; 
    height: 50px; 
    color: white; 
    filter: invert(1);
}

.sidebar .title p {
    font-size: 1.5em;
    font-weight: 600; 
    color: white; 
}

.sidebar li {
    display: flex; 
    font-size: 1.1em; 
    font-weight: 600;
    align-items: center;
    gap: 26px; 
    height: 42px; 
    padding-left: 30px;
}

.sidebar li:hover {
    background-color: rgb(62, 142, 207); 
    cursor: pointer; 
}

/* Sidebar Options Icons */
.sidebar li img {
    width: 25px; 
    height: 25px; 
    filter: invert(1);
}

.sidebar ul {
    list-style: none; 
    color: white; 
    padding-left: 0px; 
}

.header .top {
    display: grid;
    grid-template-columns: auto 1fr repeat(3, auto);
    align-items: center; 
    margin: 10px 0px; 
    padding-right: 60px; 
}

.header .top .icon {
    width: 25px; 
    height: 25px; 
    margin-left: 60px; 
    margin-right: 30px; 
}

.header .top .avatar {
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    object-fit: cover;
    margin: 0px 10px; 
}

.header .top p {
    font-size: 1.1em;
    font-weight: 600; 
}

.header .top input {
    height: 30px; 
    width: 70%; 
    border-radius: 20px; 
    padding-left: 15px; 
    background-color: rgb(215, 215, 215);
    border: none; 
}

.header .top input:hover {
    background-color: rgb(200, 200, 200);
}

.header .top input:focus {
    outline: none; 
}

.header .bottom {
    display: grid; 
    grid-template-columns: 1fr auto;
}

.user-greet {
    display: grid; 
    grid-template-columns: 100px 1fr;
    grid-template-rows: 25px 1fr; 
    align-items: center; 
    padding-left: 60px; 
}

.user-greet img {
    width: 70px; 
    height: 70px; 
    border-radius: 50px;
    grid-column: 1;
    grid-row: 1 / -1; 
}

.user-greet p:nth-child(2) {
    font-size: 0.8em;
    align-self: end; 
}

.user-greet p:last-child {
    font-size: 1.6em; 
}

.user-greet p {
    margin: 0px; 
    font-weight: 600;
}

.post-options {
    display: grid; 
    justify-items: center;
    align-items: end;
    grid-template-columns: repeat(3, 150px);
    padding-right: 60px; 
}

.post-options button {
    width: 100px; 
    height: 38px; 
    border-radius: 20px;
    margin-bottom: 10px; 
    border: none; 
    background-color: rgb(0, 140, 255);
    color: white; 
    font-weight: 600;
}

.post-options button:hover {
    cursor: pointer; 
    background-color: rgb(20, 157, 255);
}

.content {
    display: grid; 
    grid-template-columns: 1fr 200px; 
    grid-template-rows: 1fr 1fr; 
    background-color: rgb(215, 215, 215);
}

.projects {
    grid-column: 1;
    grid-row: 1 / -1;
    display: grid; 
    grid-template-rows: 30px 1fr;
}

.announcements {
    grid-row: 1; 
}

.trending {
    grid-row: 2; 
}

.projects p {
    grid-column: 1 / -1;
    grid-row: 1; 
}

.cards {
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, minmax(200px, 1fr));
}

.announcements {
    display: grid; 
    grid-template-rows: 30px 1fr; 
}

.announcements .content {
    display: flex; 
    flex-direction: column;
}

.trending {
    display: grid; 
    grid-template-rows: 30px 1fr;
}

.trending .content {
    display: flex; 
    flex-direction: column;
}